* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "poppins";
    font-weight: 800;
    background: linear-gradient(176deg, rgb(241, 241, 235) 0%, rgb(243 243 211) 50%, rgb(220 197 233) 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    border: 8px solid rgb(220 197 233);
    border-radius: 15px;
    width: 80%;
    background: rgb(255,241,249);
    background: linear-gradient(176deg, rgba(255,241,249,1) 0%, rgba(255,255,247,1) 32%, rgba(245,241,255,1) 100%);
}

.font-title {
    font-weight: 700 !important;
}

.header {
    
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-group {
    display: flex;
    gap: 20px;
}

nav ul {
    list-style: none;
    display: flex;
}

    nav ul li {
        margin: 0 10px;
    }

        nav ul li a {
            text-decoration: none;
            padding: 10px 15px;
            background: rgb(246, 246, 246);
            color: rgb(48, 48, 48);
            border-radius: 5px;
            transition: background 0.3s, color 0.3s;
        }

            nav ul li a:hover {
                background: rgb(220, 220, 220);
            }

            nav ul li a.active {
                background: rgb(48, 48, 48);
                color: rgb(246, 246, 246);
            }

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    .nav-group {
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        text-align: center;
        padding: 0;
    }

        nav ul li {
            width: 100%;
            margin: 5px 0;
        }

            nav ul li a {
                display: block;
                width: 100%;
            }
}

.site-title {
    margin: 20px;
}

.site-description {
    margin: 20px;
    color: gray;
}

table {
    background: #ffffff;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid rgb(255,241,249);
}

    table thead {
        color: gray;
        font-size: 14px;
    }

    table tbody tr td {
        border-top: 1px solid black;
        padding-top: 10px;
        padding-bottom: 10px;
        text-align: center;
        color: rgb(203 139 239);
        font-weight: 100;
    }

.title-column {
    color: #2c3e50;
    font-weight: bold;
}

.description-column {
    color: gray;
    
}